:root{
  --main-menu-hvr-bg-color:  rgb(226, 167, 39);
  --main-menu-hvr-txt-color: #fff;
  --main-txt-color: #333;
  --main-bg-color: #f4f4f4;
  --dropdown-bg-color:#e7e7e7;
  --dropdown-menu-hvr-bg-color: #e0e0e0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-family: Arial, Helvetica, sans-serif;
  background: var(--main-bg-color);
}

#navbar ul{
  list-style: none;
}

#navbar ul li {
  color:var(--main-txt-color);
  display: inline-block;
  padding: 1rem;
  position: relative;
}


#navbar ul li a{
  text-decoration: none;
  padding-right: .5rem;
  color: inherit;
}

/* Hide Nested Menu Items*/
/* display none also modifies positioning as opposed to visibility */
#navbar ul li ul{
  display:none;
}

#navbar ul li:hover{
  cursor: pointer;
  background: var(--main-menu-hvr-bg-color);
  color: var(--main-menu-hvr-txt-color);
}


/* View Nested Items on Hover */

#navbar ul li:hover ul{
  display:block;
  position: absolute;
  left:0;
  width: 200px;
  margin-top:1rem;
}

#navbar ul li:hover ul li{
  display:block;
  background: var(--dropdown-bg-color);
}

#navbar ul li:hover ul li a{
  color: var(--main-txt-color);
}

#navbar ul li:hover ul li:hover{
  background: var(--dropdown-menu-hvr-bg-color);
}

#navbar ul li:hover ul li span{
  float: right;
  background: var(--main-menu-hvr-bg-color);
  color: var(--main-menu-hvr-txt-color);
  border-radius: 5px;
  padding: .2rem 0.5rem;
  text-align: center;
  font-size: 0.8rem;
}

#navbar ul li:hover ul li:hover span{
  background-color:rgb(126, 167, 44);
}